@use '../../../../styles/breakpoints' as *;

.container {
  --grid-template-columns: repeat(2, 1fr);
  --width: fit-content;

  width: var(--width);
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  align-content: center;
  gap: var(--footer-list-gap);

  @include phone-only() {
    --grid-template-columns: 1fr;
    --width: 100%;
    justify-items: center;
    padding: var(--footer-list-gap-mobile) 0;
  }

  @include tablet-sm-only() {
    --grid-template-columns: 1fr;
    --width: 100%;
    justify-items: center;
  }
}

.link {
  &:hover {
    color: var(--font-color-default);
  }
}
