@use '../../../../styles/breakpoints' as *;

.container {
  --grid-template-columns: 1fr;
  --width: 100%;
  --justify-items: center;
  --padding: var(--footer-list-gap) 0;
  --gap: calc(var(--footer-list-gap) * 2);

  width: var(--width);
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  align-content: center;
  justify-items: var(--justify-items);
  padding: var(--padding);
  gap: var(--gap);

  @include tablet-sm-only() {
    --grid-template-columns: 1fr;
    --width: 100%;
  }

  @include tablet-sm-up() {
    --padding: 0;
    --gap: var(--footer-list-gap);
  }

  @include tablet-lg-up() {
    --grid-template-columns: repeat(2, 1fr);
    --width: fit-content;
    --justify-items: unset;
  }
}

.link {
  &:hover {
    color: var(--font-color-default);
  }
}
