.container {
  height: 100%;
  padding: 20px;
  transition: background-color var(--short-animation-duration)
    var(--animation-easing);

  &:hover {
    background-color: var(--transparent-1);
    cursor: pointer;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
