@use '../../../../../styles/breakpoints' as *;

.navigation {
  display: flex;
  justify-content: space-between;
  height: var(--mobile-navigation-height);
  border-bottom: 1px solid var(--border-rgb);
  width: 100vw;
  position: fixed;
  z-index: calc(var(--z-index-overlay) + 2);
  background-color: var(--transparent-glass);
  backdrop-filter: blur(10px);
  color: var(--color-primary);
}

.left,
.right {
  display: grid;
  align-items: center;
}

.left {
  grid-template-columns: 48px 1fr;
  gap: 8px;
}

.right {
  grid-template-columns: 1fr var(--mobile-navigation-height);
  gap: 8px;
}
