@use './button-reset' as *;

$button-transition:
  color 0.1s ease-in-out,
  background-color 0.1s ease-in-out,
  border-color 0.1s ease-in-out,
  opacity 0.1s ease-in-out;

.button {
  @include button-reset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  border-radius: 6px;
  padding: 5px 16px;
  transition: $button-transition;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
  }
}

.iconButton {
  @include button-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  transition: $button-transition;
  font-size: 20px;
  &:disabled {
    cursor: default;
  }
}

.iconButtonContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
