@use './button-reset' as *;
@use '../../../styles/mixins' as *;

.button {
  @include button-reset;
  @include button-transition;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  border-radius: 6px;
  padding: 5px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
  }
}

.iconButton {
  @include button-reset;
  @include button-transition;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  font-size: 20px;
  &:disabled {
    cursor: default;
  }
}

.iconButtonContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
