@use '../../../styles/breakpoints' as *;

.container {
  --grid-template-columns: 1fr;
  --padding: 8px 0;

  display: grid;
  grid-template-columns: var(--grid-template-columns);
  padding: var(--padding);

  @include tablet-lg-up() {
    --grid-template-columns: repeat(5, 1fr);
    --padding: 0;

    height: 100%;
    border-top: 1px solid var(--border-rgb);
  }
}

.container > a {
  --border-right: 0;
  --border-bottom: 0;

  border-right: var(--border-right);
  border-bottom: var(--border-bottom);

  @include tablet-lg-up() {
    --border-right: 1px solid var(--border-rgb);
    --border-bottom: 1px solid var(--border-rgb);

    &:last-child {
      border-right: none;
    }
  }
}
