@use '../../../../styles/breakpoints' as *;

.content {
  --padding-top: 0;

  display: flex;
  width: 100%;
  align-items: center;
  padding-top: var(--padding-top);
  gap: 14px;

  @include tablet-lg-up() {
    --padding-top: var(--info-padding-top);

    display: grid;
    grid-template-rows: 34px 1fr;
    align-self: flex-start;
    justify-items: center;
    align-items: unset;
  }
}

.twoLinesInfo {
  display: grid;
  gap: 14px;
}

.info {
  color: var(--color-primary);
}
