.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  border-top: 1px solid var(--border-rgb);
}

.container > a {
  border-right: 1px solid var(--border-rgb);
  border-bottom: 1px solid var(--border-rgb);

  &:last-child {
    border-right: none;
  }
}
