@use '../../../../styles/breakpoints' as *;

.container {
  --padding: var(--footer-list-gap) 0;

  padding: var(--padding);
  margin: 0 auto;
  display: flex;
  gap: 16px;

  @include tablet-sm-only() {
    --padding: var(--footer-list-gap) 0;
  }

  @include tablet-lg-up() {
    --padding: 0;
  }
}
