@use '../../../../styles/breakpoints' as *;

.container {
  position: relative;
}

.passwordChecklist {
  position: absolute;
  z-index: 1;
  top: 56px;
  left: 0;
  width: 100%;

  @include tablet-lg-up() {
    width: auto;
    transform: translate(-100%, -50%);
    left: -12px;
  }
}

.icon {
  font-size: 20px;
  cursor: pointer;
}
