@use '../../styles/breakpoints' as *;

.container {
  --padding: 12px;

  padding: var(--padding);
  display: grid;

  @include tablet-sm-up() {
    --padding: 25px;
  }

  @include desktop-only() {
    --padding: 40px 80px;
  }
}
