@use '../../../../styles/breakpoints' as *;

.container {
  --padding: 12px;

  padding: var(--padding);
  transition: background-color var(--short-animation-duration)
    var(--animation-easing);

  @include tablet-lg-up() {
    --padding: 20px;
    height: 100%;

    &:hover {
      background-color: var(--transparent-1);
      cursor: pointer;
    }
  }
}

.content {
  --justify-content: flex-start;
  --text-align: left;

  display: flex;
  align-items: center;
  justify-content: var(--justify-content);
  height: 100%;
  text-align: var(--text-align);

  @include tablet-lg-up() {
    --justify-content: center;
    --text-align: center;
  }
}
