@use '../../styles/breakpoints' as *;

.container {
  --margin-left: 0;

  margin-left: var(--margin-left);

  @include tablet-lg-up() {
    --margin-left: var(--desktop-menu-width);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--footer-height));
}
