@use '../../styles/breakpoints' as *;

.container {
  --margin-left: var(--desktop-menu-width);
  margin-left: var(--margin-left);

  @include phone-only() {
    --margin-left: 0;
  }

  @include tablet-sm-only() {
    --margin-left: 0;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
