.container {
  border-radius: 6px;
  background-color: var(--secondary-2);
  padding: 16px;
  box-shadow: var(--shadow-2dp);
}

.hint {
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.listItem {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.checkIcon {
  transition: color ease-in-out 0.1s;
  margin-right: 8px;
}

.checkIconSuccess {
  color: var(--status-success);
}

.checkIconInvalid {
  color: var(--secondary-9);
}
