.text {
  font-weight: 400;
}

.textSizeXs {
  font-size: 12px !important;
  line-height: 14px;
}

.textSizeSm {
  font-size: 14px;
  line-height: 24px;
}

.textSizeMd {
  font-size: 16px;
  line-height: 24px;
}

.fontWeightMedium {
  font-weight: 500;
}

.fontWeightBold {
  font-weight: 700;
}
