.textSmall {
  --font-size: 12px;
  --line-height: 12px;
  --font-color: var(--font-color-gray);
  --font-weight: 300;

  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  font-weight: var(--font-weight);
}

.size12 {
  --font-size: 12px;
  --line-height: 12px;
}

.size14 {
  --font-size: 14px;
  --line-height: 14px;
}

.size16 {
  --font-size: 16px;
  --line-height: 16px;
}

.size18 {
  --font-size: 18px;
  --line-height: 18px;
}

.size20 {
  --font-size: 20px;
  --line-height: 20px;
}

.secondary {
  --font-color: var(--font-color-default);
  --font-weight: 400;
}
