@use '../../../../styles/breakpoints' as *;

.container {
  --border-top: 1px solid var(--border-rgb);
  --gap: 0;

  gap: var(--gap);
  border-top: var(--border-top);

  @include tablet-sm-up() {
    --border-top: unset;
    --gap: var(--footer-list-gap);
  }
}

.contact {
  --padding: var(--footer-list-gap) 0;

  display: flex;
  gap: 8px;
  padding: var(--padding);

  @include tablet-sm-up() {
    --padding: 0;
  }
}

.label {
  --font-color: var(--font-color-inactive) !important;
}

.value {
  --font-color: var(--font-color-default) !important;
}

.link {
  &:hover {
    --font-color: var(--font-color-inactive) !important;
  }
}
