@use '../../../../styles/breakpoints' as *;

.container {
  gap: var(--footer-list-gap);

  @include phone-only() {
    --footer-list-gap: 0;

    border-top: 1px solid var(--border-rgb);
  }
}

.contact {
  display: flex;
  gap: 8px;

  @include phone-only() {
    padding: var(--footer-list-gap-mobile) 0;
  }
}

.label {
  --font-color: var(--font-color-inactive) !important;
}

.value {
  --font-color: var(--font-color-default) !important;
}

.link {
  &:hover {
    --font-color: var(--font-color-inactive) !important;
  }
}
