/* *** PRIMARY *** */
$primary-1-dark: #1c1c1c !default;
$primary-2-dark: #ffffff !default;

/* *** STATUS *** */
$status-error-dark: #ff7d76 !default;
$status-success-dark: #93ba7a !default;
$status-info-dark: #2196f3 !default;

/* *** BORDERS *** */
$border-1-dark: rgba(255, 255, 255, 0.2) !default;

/* *** BACKGROUND *** */
$footer-background-dark: #1c1c1c !default;
