@use './theme-variables' as *;
@use './theme-dark' as *;

:root {
  --short-animation-duration: #{$short-animation-duration};
  --medium-animation-duration: #{$medium-animation-duration};
  --animation-easing: #{$animation-easing};
  --transition-short: #{$transition-short};
  --transition-medium: #{$transition-medium};

  --transparent-glass: #{$transparent-glass};
}

// DEFINE COLORS FOR DARK MODE
:root,
.dark {
  // primary
  --primary-1: #{$primary-1-dark};
  --primary-2: #{$primary-2-dark};

  // font colors
  --font-color-inactive: #{$font-color-inactive};
  --font-color-default: #{$font-color-default};
  --font-color-gray: #{$font-color-gray};

  // status
  --status-error: #{$status-error-dark};
  --status-success: #{$status-success-dark};
  --status-info: #{$status-info-dark};

  // transparent
  --transparent-1: #{$transparent-1};
  --transparent-2: #{$transparent-2};

  // borders
  --border-rgb: #{$border-1-dark};

  //backgrounds
  --footer-background: #{$footer-background-dark};
}
