/* *** TRANSPARENT *** */
$transparent-glass: rgb(46, 46, 46, 0.25) !default;
$transparent-1: rgba(0, 0, 0, 0.4) !default;
$transparent-2: rgba(60, 60, 60, 0.55) !default;

/* *** ANIMATIONS *** */
$short-animation-duration: 0.2s !default;
$animation-easing: ease !default;

/* *** TRANSITION *** */
$transition-short: all 100ms ease-in !default;
$transition-medium: all 200ms ease-out !default;

/* *** FONT COLORS *** */
$font-color-inactive: #cdcdcd !default;
$font-color-default: #ffffff !default;
$font-color-gray: #a9a9a9 !default;
