@use '../../styles/breakpoints' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 48px auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include for-tablet-lg-up {
    flex-direction: row;
  }
}

.rightSection {
  display: grid;
  row-gap: 16px;
}

.homeButton {
  margin-top: 48px;
  margin-left: auto;
}
