.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: var(--desktop-menu-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--z-index-overlay) + 2);
  background-color: var(--transparent-glass);
  backdrop-filter: blur(10px);
  color: var(--color-primary);
  border-right: 1px solid var(--border-rgb);
  padding: 12px 5px;
}
