@use '../../styles/breakpoints' as *;

.container {
  margin-top: var(--mobile-navigation-height);

  @include for-tablet-lg-up {
    margin-top: var(--desktop-navigation-height);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include for-tablet-lg-up {
    flex-direction: row;
  }
}

.rightSection {
  display: grid;
  row-gap: 16px;
}

.homeButton {
  margin-top: 48px;
  margin-left: auto;
}
