.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 8px;
}

.error {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}
