.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-rgb);
  padding-bottom: 20px;
}

.link {
  color: var(--font-color-default) !important;

  &:hover {
    color: var(--font-color-inactive) !important;
  }
}
