@use '../../../styles/breakpoints' as *;

.container {
  --grid-template-columns: 1fr 1fr;

  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: 4px;

  @include tablet-lg-up() {
    --grid-template-columns: 1fr;
  }
}

.text {
  color: var(--font-color-inactive);

  &:hover {
    color: var(--font-color-default);
  }
}
