@use '@styles/breakpoints' as *;

.heading {
  color: inherit;
}

.headingRegular {
  font-weight: 400;
}

.headingMedium {
  font-weight: 500;
}

.headingSemiBold {
  font-weight: 600;
}

.headingBold {
  font-weight: 700;
}

.headingInherit {
  font-weight: inherit;
}

.headingLevel1 {
  font-size: 22px;
  line-height: 30px;

  @include for-tablet-up() {
    font-size: 26px;
    line-height: 32px;
  }

  @include for-desktop-up() {
    font-size: 36px;
    line-height: 45px;
  }
}

.headingLevel2 {
  font-size: 18px;
  line-height: 27px;

  @include for-tablet-up() {
    font-size: 22px;
    line-height: 30px;
  }

  @include for-desktop-up() {
    font-size: 26px;
    line-height: 32px;
  }
}

.headingLevel3 {
  font-size: 16px;
  line-height: 24px;

  @include for-tablet-up() {
    font-size: 18px;
    line-height: 27px;
  }

  @include for-desktop-up() {
    font-size: 22px;
    line-height: 30px;
  }
}

.headingLevel4 {
  font-size: 14px;
  line-height: 20px;

  @include for-tablet-up() {
    font-size: 16px;
    line-height: 24px;
  }

  @include for-desktop-up() {
    font-size: 18px;
    line-height: 27px;
  }
}

.headingLevel5 {
  font-size: 14px;
  line-height: 20px;

  @include for-tablet-up() {
    font-size: 14px;
    line-height: 20px;
  }

  @include for-desktop-up() {
    font-size: 16px;
    line-height: 24px;
  }
}
