@use '../../styles/breakpoints' as *;

.container {
  padding-top: calc(var(--mobile-navigation-height) + 30px);
  padding-bottom: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet-lg-up() {
    height: 100vh;
    padding: 0;
  }
}
