@use '../../../styles/breakpoints' as *;

.container {
  --grid-template-columns: 1fr 1fr;
  --gap: 8px;

  display: grid;
  justify-content: center;
  grid-template-columns: var(--grid-template-columns);
  gap: var(--gap);

  @include tablet-lg-up() {
    --grid-template-columns: auto;
    --gap: 2px;
  }
}

.icon {
  color: var(--primary-2);
}
