.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.bannerImage {
  background-image: url('../../mocks/baner.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
